.img-preview {
  max-width: 90%;
  max-height: 200px;
  &:hover {
    cursor: pointer;
  }
}
.image-upload > input {
  display: none;
}

.floatingButton {
  position: absolute;
  z-index: 100;
  margin-top: 4px;
  margin-left: 4px;
}
